* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  background-color: #ddd;
  width: 300px;
  height: 200px;
  padding: 20px;
}
.container .card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 5px;
}
.container .card button:hover {
  cursor: pointer;
}
.decrement {
  background-color: rgb(211, 27, 27);
}
.increment {
  background-color: rgb(14, 211, 14);
}
